*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	/*font-family: 'Rubik';*/
	font-family: Montserrat;
}

html{
	scroll-behavior: smooth;
}

a{
	text-decoration: none;
	color: white;
}
header a{
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
